@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Concert One", cursive;
  scroll-behavior: smooth;

  // scroller
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f74d1c; 
  }
}
body {
  background-color: rgb(225, 243, 245);
}
li {
  cursor: pointer;
}
.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.flex-center {
    align-items: center;
    justify-content: center;
  }
}
//external css
.container {
  max-width: 1000px;
  margin: auto;
}

.text-center {
  text-align: center;
  max-width: 650px;
  margin: auto;
}
.gap {
  gap: 25px;
}
.br {
  border-radius: 10px;
}
//css global
h1 {
  margin-bottom: 37px;
  font-size: 73px;
  text-shadow: 2px 2px 4px #ee9b02;
  line-height: 70px;
}
p {
  font-family: "Slabo 27px", serif;
  font-size: 16px;
  line-height: 30px;
  color: #171818;
  text-shadow: 2px 2px 4px #94643e;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

//hero css
.hero {
  position: relative;
  overflow: hidden;
  color: white;

  img {
    width: 100%;
    height: 100vh;
    filter: saturate(175%);
    object-fit: cover;
  }

  &-content {
    max-width: 590px;
    position: absolute;
    left: 80px;
    top: 27%;
    transform: translateY(-50%);

    p {
      font-family: "Slabo 27px", serif;
      font-size: 16px;
      line-height: 30px;
      color: #fdffff;
      text-shadow: 2px 2px 4px #94643e;
    }
  }
}

//special dishes

.special-dishes {
  &-content {
    max-width: 650px;
    margin: auto;
    margin-top: 75px;
  }
  h2 {
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px #94643e;
    letter-spacing: 2px;
  }
  img {
    width: 186px;
    overflow: hidden;
    transition: transform 0.5s linear;
  }
  img:hover {
    transform: scale(1.07);
    filter: saturate(125%);
  }
  &-list {
    margin-top: 75px;
    li {
      width: 22%;
    }
  }
}

//filtred dishes
.filtred-dishes {
  margin-top: 75px;
  h2 {
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px #94643e;
    letter-spacing: 2px;
  }
  p {
    margin-bottom: 30px;
  }
  ul {
    justify-content: space-evenly;
  }
  li {
    background-color: #f74d1c;
    height: 24px;
    width: 110px;
    color: white;
    text-shadow: 2px 2px 5px black;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #000000;
    cursor: pointer;
  }
  li:hover {
    background-color: black;
  }
}
//category list
.catlist {
  padding-top: 75px;
  margin-bottom: 75px;
  width: 100%;
  align-items: center;
  margin: 0;
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
  li {
    display: inline-block;
    text-align: center;
    max-width: 218px;
  }
  ul {
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  img {
    width: 150px;
    overflow: hidden;
    transition: transform 0.5s linear;
    border-radius: 20px;
    border: 1px solid grey;
  }
  img:hover {
    transform: scale(1.07);
    filter: saturate(125%);
  }
}
//spinner
.loaders {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    margin-right: 20px;
  }
}
.active {
  background-color: black !important;
}
//hidden no items found
.hidden {
  display: none !important;
}
.access {
  display: block;
}

// Alert
#alert {
  border: 2px solid #333232;
  border-radius: 10px;
  height: 20vh;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    color: rgb(155, 2, 2);
    margin: 0 0 10px 0;
  }

  h4 {
    margin: 0;
  }
}
//pagination
.pagination {
  justify-content: center;
  margin: 50px 0 0;
  display: flex;

  li {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    transition: all ease 0.3s;

    &:hover {
      background-color: #f74d1c;
      border-color: #f74d1c;
    }
  }
}

// Popup CSS
.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);

  h2,
  p {
    color: white;
    text-align: center;
  }

  p {
    font-size: 12px;
    margin-bottom: 22px;
    height: 200px;
    overflow-y: scroll;
  }

  &-content {
    background-color: rgb(17, 17, 17);
    width: 800px;
    height: 700px;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
  justify-content: center;
  }

  &-close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: all ease 0.1s;

    &:hover {
      color: #ec0303;
    }
  }
  button{
    border: none;
    outline: none;
    background-color: #f74d1c;
    color: black;
    padding: 12px 22px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 24px;
    transition: all ease 0.1s;

    &:hover {
      background-color: rgb(15, 248, 15);
    }
  }
  .popup-header {
    height: 30vh;
    overflow: hidden;
    margin-bottom: 32px;
    position: relative;

    &-category {
      background: white;
      color: black;
      margin: 0;
      padding: 12px 24px;
      border-radius: 6px;
      position: absolute;
      bottom: 25px;
      left: 25px;
      cursor: default;
    }
    

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: none;
      border-radius: 5px;
    }

    
  }

  }
  .dish-ingredients {
    margin-bottom: 22px;
    li{
      display: inline;
      background: white;
      padding: 8px 12px;
      border-radius: 32px;
      font-size: 14px;
      margin-right: 12px;
      font-family:monospace;
      font-weight: bolder;
    }
  }
  .popup-content-data{
    p{
      font-family: sans-serif;
      text-shadow: none;
      text-align: initial;

    }
    /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f74d1c; 
}
  }


  .add-to-cart-wrapper{
    width: 100px;
    height:100px;
    display:flex;
    position:sticky;
    top: 68%;
    right: 0;
    margin-left: 1065px;
    padding-top: 90px;
  img{
    width: 100px;
    height: 100px;
  }
  }
  .add-to-cart-item{
    right: 0;
  }